<app-table shortCategory="ant" rainbow="1"></app-table>
<app-table shortCategory="bat" rainbow="2"></app-table>
<app-table shortCategory="cam" rainbow="3"></app-table>
<app-table shortCategory="esc" rainbow="4"></app-table>
<app-table shortCategory="fc" rainbow="5"></app-table>
<app-table shortCategory="frm" rainbow="6"></app-table>
<app-table shortCategory="mot" rainbow="7"></app-table>
<app-table shortCategory="prop" rainbow="8"></app-table>
<app-table shortCategory="rx" rainbow="9"></app-table>
<app-table shortCategory="tx" rainbow="10"></app-table>
<app-table shortCategory="vtx" rainbow="11"></app-table>
