// .home-grid .row > div:first-child {
//   text-align: center;
//   line-height: 200px;
//   font-size: 4vw;
//   font-weight: bolder;
//   color: purple;
//   background-color: white;
//   background-clip: content-box;
// }

.table-top-items tr {
  background-color: orange;
}
.td-image {
  height: 50px;
  max-width: 50px;
}

.home-grid .row {
  background-color: orange;
  // border-bottom: 1px solid grey;
}

.home-grid img {
  width: 100%;
}

.top-item-name {
  background-color: yellow;
  color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-item-rating {
  background-color: purple;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  padding: 15px;
}
