<div
  class="view "
  style="background-image: url('https://i2.wp.com/background4free.com/download/blue_purple_red_952572974.jpg?q=100'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
>
  <div class="mask rgba-gradient">
    <app-header></app-header>
    <div class="container">
      <app-search></app-search>
      <router-outlet></router-outlet>

      <!-- <div class="jumbotron">
    <h1>Learn to Create Websites</h1>
    <p class="lead">
      In today's world internet is the most popular way of connecting with the
      people. At
      <a href="https://www.tutorialrepublic.com" target="_blank"
        >tutorialrepublic.com</a
      >
      you will learn the essential web development technologies along with real
      life practice examples, so that you can create your own website to connect
      with the people around the world.
    </p>
    <p>
      <a
        href="https://www.tutorialrepublic.com"
        target="_blank"
        class="btn btn-success btn-lg"
        >Get started today</a
      >
    </p>
  </div> -->
      <hr />
      <footer>
        <div class="row">
          <div class="col-md-6">
            <p>Copyright © 2019 Tutorial Republic</p>
          </div>
          <div class="col-md-6 text-md-right">
            <a href="#" class="text-dark">Terms of Use</a>
            <span class="text-muted mx-2">|</span>
            <a href="#" class="text-dark">Privacy Policy</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
