.rgba-gradient {
  background: -moz-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: gradient(
    linear,
    45deg,
    from(rgba(42, 27, 161, 0.7)),
    to(rgba(29, 210, 177, 0.7))
  );
  background: -o-linear-gradient(
    45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
  background: linear-gradient(
    to 45deg,
    rgba(42, 27, 161, 0.7),
    rgba(29, 210, 177, 0.7) 100%
  );
}
.container {
  // background-color: #616161;
}

.home-grid img {
  width: 100%;
}

.top-item-name {
  background-color: yellow;
  color: black;
  position: absolute;
  left: 0;
  bottom: 0;
}

.top-item-rating {
  background-color: purple;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  padding: 15px;
}
