.container {
  position: absolute;
  display: grid;
  width: 640px;
  background-color: rgb(235, 0, 0);
  left: 50%;
  margin-left: -320px; //Half width
}
.top-items-section {
  margin-bottom: 10px;
  padding: 5px;
  background-color: darkgrey;
}

.top-item {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: white;
  float: left;
}

.top-item-section-header-text {
  text-align: center;
  line-height: 200px;
  font-size: 4vw;
  font-weight: bolder;
  color: purple;
}

.top-item-picture {
  width: 200px;
  height: 200px;
  background-color: green;
}

.top-item-text {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.top-item-text div {
  padding: 3px;
}

.top-item-name {
  background-color: yellow;
  color: black;
  font-size: 2vw;
}

.top-item-rating {
  background-color: purple;
  color: white;
  font-size: 1vw;
}

footer {
  padding: 15px;
}
