<H4>General information</H4>

<div class="row">
  <div class="col-sm-6">
    <mat-form-field>
      <mat-label>Brand name</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option value="Foxeer">Foxeer</mat-option>
        <mat-option value="RunCam">RunCam</mat-option>
        <mat-option value="TBS">TBS</mat-option>
        <mat-option value="Unknown">Unknown</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-6">
    <mat-form-field>
      <input matInput placeholder="Item name" />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <!-- <mat-form-field>
          <input type="month" matInput placeholder="Release date" />
        </mat-form-field> -->
    <mat-form-field>
      <mat-label>Release date</mat-label>
      <input matInput [matDatepicker]="dp3" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field>
          <mat-label>Month and Year</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker
            #dp
            startView="multi-year"
            (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)"
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field> -->
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3">
    <mat-form-field>
      <input matInput placeholder="Weight (g)" />
    </mat-form-field>
  </div>
</div>
