<div class="container new-item-container">
  <h1 class="mt-3">Add new item</h1>
  <form>
    <H4>Item category</H4>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option>None</mat-option>
            <mat-option value="ANT">ANT</mat-option>
            <mat-option value="BAT">BAT</mat-option>
            <mat-option value="ANT">CAM</mat-option>
            <mat-option value="ANT">ESC</mat-option>
            <mat-option value="ANT">FC</mat-option>
            <mat-option value="ANT">FRM</mat-option>
            <mat-option value="ANT">MOT</mat-option>
            <mat-option value="ANT">PROP</mat-option>
            <mat-option value="ANT">RX</mat-option>
            <mat-option value="ANT">TX</mat-option>
            <mat-option value="ANT">VTX</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <app-general-info></app-general-info>

    <app-cam-info [cameraDet]="cameraz"> </app-cam-info>

    <H4>Item images</H4>

    <div class="row">
      <div class="col">
        <p>Some description and information about about pinouts.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-stroked-button class="mt-3">Upload</button>
      </div>
    </div>

    <H4>Pinout pictures</H4>

    <div class="row">
      <div class="col">
        <p>Some description and information about about pinouts.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-stroked-button class="mt-3">Upload</button>
      </div>
    </div>

    <H4>Media reviews (YouTube & blogs)</H4>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Rotor Riot</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>UAV Features</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Joshua Bardwell</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Oscar Liang</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <H4>Links to online shops</H4>

    <div class="row">
      <div class="col">
        <label>Affiliate links</label>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>BangGood</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>AliExpress</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>GetFPV</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>HobbyKing</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Other online shops</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="Other shop (URL)" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <button class="mx-3" mat-raised-button disabled>Cancel</button>
        <button class="mx-1" mat-raised-button color="accent" disabled>
          Save
        </button>
        <button
          class="mx-1"
          mat-raised-button
          color="primary"
          (click)="userSubmit()"
        >
          Publish
        </button>
      </div>
    </div>
  </form>
</div>
