<div class="container new-item-container">
  <h1 class="mt-3">Add new item</h1>
  <form>
    <H4>Item category</H4>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="ANT">ANT</mat-option>
            <mat-option value="BAT">BAT</mat-option>
            <mat-option value="ANT">CAM</mat-option>
            <mat-option value="ANT">ESC</mat-option>
            <mat-option value="ANT">FC</mat-option>
            <mat-option value="ANT">FRM</mat-option>
            <mat-option value="ANT">MOT</mat-option>
            <mat-option value="ANT">PROP</mat-option>
            <mat-option value="ANT">RX</mat-option>
            <mat-option value="ANT">TX</mat-option>
            <mat-option value="ANT">VTX</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <H4>General information</H4>

    <div class="row">
      <div class="col">
        <label id="type-radio-group-label">Camera size category</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-radio-group aria-label="type-radio-group-label">
          <mat-radio-button value="Nano">Nano</mat-radio-button>
          <mat-radio-button value="Micro">Micro</mat-radio-button>
          <mat-radio-button value="Mini">Mini/Standard</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <mat-form-field>
          <!-- <mat-label>Brand name</mat-label> -->
          <input matInput placeholder="Brand name" />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput placeholder="Item name" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- <mat-form-field>
          <input type="month" matInput placeholder="Release date" />
        </mat-form-field> -->
        <mat-form-field>
          <!-- <!-- <mat-label>Input disabled</mat-label> -->
          <input matInput [matDatepicker]="dp3" disabled />
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>Month and Year</mat-label>
          <input matInput [matDatepicker]="dp" [formControl]="date" />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker
            #dp
            startView="multi-year"
            (yearSelected)="chosenYearHandler($event)"
            (monthSelected)="chosenMonthHandler($event, dp)"
            panelClass="example-month-picker"
          >
          </mat-datepicker>
        </mat-form-field> -->
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <mat-form-field>
          <input matInput placeholder="Weight (g)" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <mat-form-field>
          <input matInput placeholder="Horizontal Resolution (TVL)" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label id="sensor-radio-group-label">Image sensor</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-radio-group aria-label="sensor-radio-group-label">
          <mat-radio-button value="Nano">CCD</mat-radio-button>
          <mat-radio-button value="Micro">CMOS</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label id="sensor-radio-group-label">Signal system</label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-checkbox>NTSC</mat-checkbox>
        <mat-checkbox>PAL</mat-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Camera Lens details</label>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-3 col-md-2">
        <mat-checkbox>1.7mm</mat-checkbox>
      </div>
      <div class="col-3 col-md-2">
        <mat-form-field>
          <input matInput placeholder="FOV°" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-3 col-md-2">
        <mat-checkbox>1.8mm</mat-checkbox>
      </div>
      <div class="col-3 col-md-2">
        <mat-form-field>
          <input matInput placeholder="FOV°" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-3 col-md-2">
        <mat-checkbox>2.1mm</mat-checkbox>
      </div>
      <div class="col-3 col-md-2">
        <mat-form-field>
          <input matInput placeholder="FOV°" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-3 col-md-2">
        <mat-checkbox>2.5mm</mat-checkbox>
      </div>
      <div class="col-3 col-md-2">
        <mat-form-field>
          <input matInput placeholder="FOV°" />
        </mat-form-field>
      </div>
    </div>

    <H4>Item images</H4>

    <div class="row">
      <div class="col">
        <p>Some description and information about about pinouts.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-stroked-button class="mt-3">Upload</button>
      </div>
    </div>

    <H4>Pinout pictures</H4>

    <div class="row">
      <div class="col">
        <p>Some description and information about about pinouts.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          id="main-pic"
          src="https://imgaz.staticbg.com/thumb/large/oaupload/banggood/images/C4/0F/0e512eee-1804-4dd3-a657-34fa22534b4e.jpg.webp"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button mat-stroked-button class="mt-3">Upload</button>
      </div>
    </div>

    <H4>Media reviews (YouTube & blogs)</H4>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Rotor Riot</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>UAV Features</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Joshua Bardwell</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>Oscar Liang</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <H4>Links to online shops</H4>

    <div class="row">
      <div class="col">
        <label>Affiliate links</label>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>BangGood</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>AliExpress</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>GetFPV</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-sm-4 col-md-3">
        <mat-checkbox>HobbyKing</mat-checkbox>
      </div>
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="URL" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label>Other online shops</label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-md-9 col-lg-6">
        <mat-form-field>
          <input matInput placeholder="Other shop (URL)" />
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <button class="mx-3" mat-raised-button disabled>Cancel</button>
        <button class="mx-1" mat-raised-button color="accent" disabled>
          Save
        </button>
        <button class="mx-1" mat-raised-button color="primary" disabled>
          Publish
        </button>
      </div>
    </div>
  </form>
</div>
