form {
  min-width: 150px;
  //   max-width: 500px;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5rem;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
